*.aux
*.bbl
*.log
*.blg
*.out
*.rel
/*.png
*.pdf
*~
venv/
*.ttf
*.gv
*.pickle
.idea/
__pycache__/
foldit/data/
foldit/results
*.fdb_latexmk
*.fls
*.synctex.gz
\#*#
.#*
tmp_data
starcraft/*.csv
starcraft/replays/
.ipynb_checkpoints