*.aux
*.bbl
*.log
*.blg
*.out
*.rel
/*.png
*.pdf
*~
venv/
*.ttf
*.gv
*.pickle
.idea/
__pycache__/
data/
*.fdb_latexmk
*.fls
*.synctex.gz
\#*#
.#*
clustering*/*
patterns*/*
!patterns*/config.json
tmp_data
starcraft/*.csv
starcraft/replays/